* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bellefair", serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background: rgb(0, 174, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conatiner {
  width: 80rem;
  margin: 10rem auto;
  text-align: center;
  background: rgb(255, 56, 56);
  padding: 2rem 2rem 5rem;
}

.pokeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(20rem, auto);
  /* height: 50rem; */
  border: 1px solid black;
  padding: 0.5rem;
  width: 100%;
  background-color: white;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid salmon;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  background: white;
  margin: 0.3rem;
}

.pokeImg {
  height: 10rem;
  aspect-ratio: 1 / 1;
  background-image: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png);
  background-size: cover;
  border: 1px solid silver;
  border-radius: 0.5rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.card h3,
h4 {
  align-self: flex-start;
}

.buttons {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 3rem auto 0;
}

/* .Ram{
  width: 8%;
  height: 50rem;
  background: rgb(255, 56, 56);
}
.RamBot{
  width: 100%;
  height: 5.5rem;
  background: rgb(255, 56, 56);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.box{
  display: flex;
  flex-direction: row;
}
.button{
  background-color: rgb(86, 34, 34);
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
} */

.btnIcon {
  font-size: 3rem;
  background: transparent;
  outline: none;
  border: none;
}

.btnIcon i {
  color: white;
}
.header button{
  width: 4rem;
  height: 4rem;
  font-size: 3.6rem;
  text-align: center;
  background: black;
  color: white;
  position: absolute;
  top: 0;
  right: 1rem;
  border-radius: 50%;
  border: solid 1px white;
  
}
button:hover{
  cursor: pointer;
  scale: 0.9;
  
}
.header{
  position: relative;
}
.inputDiv{
  margin-top: 6rem;
}
